body { 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    background-color: #f4f6f9; 
    color: #333; 
    padding: 20px; 
    margin: 0;
}

h1 { 
    text-align: center; 
    color: #1e3a8a; 
    margin-bottom: 40px;
}

.grid-agenda {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

/* Card da Agenda */
.card-agenda {
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-top: 5px solid #1e3a8a; /* Detalhe azul indicando futuro */
}

/* Bloco superior com Dia e Hora */
.info-data {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: bold;
    color: #2563eb;
    margin-bottom: 15px;
    border-bottom: 1px dashed #e5e7eb;
    padding-bottom: 8px;
}

/* Estrutura do Confronto */
.partida-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}

.time {
    flex: 1;
    font-weight: bold;
    font-size: 16px;
    color: #1f2937;
}

.time-casa { text-align: right; }
.time-fora { text-align: left; }

.vs-badge {
    background: #f3f4f6;
    padding: 4px 10px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 800;
    color: #6b7280;
    margin: 0 15px;
}

/* Rodapé do Card com o Local */
.info-local {
    margin-top: 15px;
    font-size: 13px;
    color: #4b5563;
    display: flex;
    align-items: center;
    gap: 5px;
    background: #f9fafb;
    padding: 8px;
    border-radius: 6px;
}

.loading { 
    text-align: center; 
    font-size: 18px; 
    color: #666; 
    margin: 40px; 
    width: 100%;
}
header {
    background-color: #f4f6f9;
}
nav {
    display: flex;
	justify-content: center;
    margin-right: 5%;
}

nav li {
    display: inline;
    margin: 0 0 0 20px;
    
}

nav a {
    display: inline-block;
    text-transform: uppercase;
    color: #f7f0f0;
    font-weight: bold;
    font-size: 17px;
    text-decoration: none;
    background-color: #11235e;
    border-radius: 10px;
    padding: 12px 20px;
    transition: all 0.3s ease;
    border: 2px solid black;
}

nav a:hover {
    color: #ffffff;
    background-color: #6235bc;
    transform: scale(1.10);
}